<div class="logo">
    <img src="../assets/images/Logo.png" alt="Bel Mondo" class="img-logo">
</div>
<nav class="menu">
    <ul class="lista-menu">
        <li><a href="../pages/Home.html">Início</a></li>
        <li><a href="../pages/Cardapio.html">Cardápio</a></li>
        <li><a href="../pages/bar.html">Bar</a></li>
        <li><a href="../pages/takeaway.html">Takeaway</a></li>
        <li><a href="../pages/reservas.html">Reservas</a></li>
        <li><a href="../pages/contacto.html">Contato</a></li>
    </ul>
</nav>
