<div class="conteudo-rodape">
    <p>
        <a href="https://maps.app.goo.gl/JFNAPVAm8ZXxkEsZA" target="_blank">Rua da Previdência, 47<br>8500-311 Portimão</a>
    </p>
    <p><a href="tel:+282070813">282 070 813</a></p>
    <p>
        <a href="https://www.facebook.com/belmondoptm?locale=pt_PT" target="_blank">Facebook</a> | 
        <a href="https://www.instagram.com/bel_mondo_ptm/" target="_blank">Instagram</a>
    </p>
    <p><a href="/terms.html">Termos e Política de privacidade</a></p>
</div>